.card {
  list-style: none;
  border: 2.5px solid #777676;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  transition: border-color 1.0s ease-in-out;
  box-shadow: 10px 12px 12px 1px;
  margin-bottom: 30px;
}


.song-container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-top: 3px;
  transition: text-shadow 1.0s ease-in-out;
  justify-content: center;
}

@media (max-width: 768px) {
  ul {
    padding-left: 0; 
  }
}


.card:hover {
  border-color: #CC7178
}

h3:hover,
h2:hover {
  text-shadow: 7px 10px 8px rgba(0, 0, 0, 0.2);
}



#trash {
  margin-bottom: 5px;
  background-color: #cc7178;
}




