h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#input {
    padding-right: 275px;
}

#split-button-dropdown {
    background-color: #b51a2b;
    margin-right: 10px;
}

.btn-primary {
    background-color: #b51a2b !important;
}


 img {
    width: 300px;
    height: 300px;
 }

 #main-playlist-link {
    margin-top: 10px;
    transition: background-color 0.5s;
    
 }

 #main-playlist-link:hover {
    background-color: #5f4daf !important;
}

