
.custom-header {
    background-color: #0a253f;
    margin-bottom: 50px;

  }

.footer-container {
  padding-right: 35px;
}

#main-playlist-link {
  margin-bottom: 10px;
  margin-left: 30px;
}

#main-playlist-link:hover {
  background-color: #5f4daf !important;
}