
.custom-header {
    background-color: #89023e;
    margin-bottom: 50px;

}

.footer-container {
  padding-right: 35px;
}

#main-playlist-link {
  margin-bottom: 10px;
  margin-left: 30px;
  font-weight: bold;
}

#main-playlist-link:hover {
  background-color: #8E677E !important;
}

