.fab-button {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: #b51a2b; 
    color: #fff; 
    font-size: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    cursor: pointer;
    position: fixed;
    bottom: 80px; 
    right: 40px;
    transition: transform 0.5s, background-color 0.5s;
}

.fab-button:hover {
    transform: rotate(360deg); 
    background-color: #5f4daf 
  }
