.main-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  
}

.footer-wrapper {
  margin-top: auto;
}

#main-playlist-link a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #ab3a5b;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-top: 1em;
}

html {
  background-color: darkred;
}

.playlist1-bg {
  background-color: #f3e1dd;
}

.playlist2-bg {
  background-color: #f3e1dd;
}
