.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-height: 100vh;
}

.footer-wrapper {
  margin-top: auto;
}

#main-playlist-link a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #041322;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-top: 1em;
}

html {
  background-color: darkred;
}

.playlist1-bg {
  background-color: rgb(223, 223, 193);
}

.playlist2-bg {
  background-color: rgb(180, 180, 148);
}

.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}